[core]
    pager = less -q -R
    excludesfile = ~/.gitignore
    preloadindex = true

[user]
    name = lunarxlark
    email = lunarxlark@gmail.com

[color "diff"]
    meta = 242 238
    frag = 239 236
    old = 167 normal
    new = 030 normal
    context = 240
    commit = 246 024

[pager]
    log  = diff-highlight | less -RX
    show = diff-highlight | less -RX
    diff = diff-highlight | less -RX

[ghq]
    root = ~/dev/src

[github]
    user = lunarxlark

[alias]
    st = status
