[core]
    pager = less -q -R
    excludesfile = ~/.gitignore
    preloadindex = true

[user]
    name = lunarxlark
    email = lunarxlark@gmail.com

[color "diff"]
    meta = 242 238
    frag = 239 236
    old = 167 normal
    new = 030 normal
    context = 240
    commit = 246 024

[pager]
    log  = diff-highlight | less -RX
    show = diff-highlight | less -RX
    diff = diff-highlight | less -RX

[ghq]
    root = ~/dev/src

[github]
    user = lunarxlark

[alias]
  st = status

[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[hub]
	protocaol = https
